/***Custom properties(start)***/
:root {
  --color-primary: rgb(168, 196, 168);
  --color-secondary: rgb(227, 180, 149);
  --color-tertiary: rgb(255, 200, 0);

  --color-link-menu-nav-item: rgb(234, 241, 241);
  --color-link-menu-nav-item-hover: rgb(7, 97, 99);
  --color-dropdown-bg: rgb(206, 245, 245);
  --color-dropdown-item-hover: rgb(53, 80, 80);
  
  --color-footer-text: #fff;

  --color-primary-opacity: rgba(34, 85, 34, 0.65);
  --color-secondary-opacity: rgba(120, 72, 24, 0.65);
  --color-tertiary-opacity: rgba(255, 200, 0, 0.65);
}

/***Custom properties(end)***/

/***Reset style(start)***/
body {
  font-family: "Roboto", "sans-serif";
}

a {
  color: var(--color-footer-text);
  text-decoration: none;
}

footer {
  color: var(--color-footer-text);
}
/***Reset style(end)***/

/***Bootstrap styles(start)***/
.bg-dark {
  background-color: var(--color-primary) !important;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-brand img {
  width: auto;
  height: 2rem;
}

.nav-item, .dropdown-item {
  transition: all 0.3s ease-out;
}

.nav-item:hover {
  border-radius: 4px;
  background-color: var(--color-link-menu-nav-item-hover);
}

.nav-link {
  color: var(--color-link-menu-nav-item);
  padding-left: .3rem;
  font-size: 1.15rem;
  font-weight: bold; 
 }

.navbar-toggler .navbar-toggler-icon {
  transition: all 0.3s ease-out;
}

.navbar-toggler .navbar-toggler-icon:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2834, 85, 34, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
} 

.dropdown-menu {
  background-color: var(--color-dropdown-bg);
  --bs-border-color-translucent: rgba(0, 0, 0, 0);  
}

.dropdown-item {
  color: var(--color-secondary-opacity);
}

.dropdown-item:hover {
  background-color: var(--color-dropdown-item-hover);
}

/***Bootstrap styles(end)***/

/***Styles project(start)***/
.footer-nav-item {
  margin-top: 1rem;
}
/***Styles project(end)***/

/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .nav-item:hover {
    background-color: transparent;
  }

  .nav-link:hover {
    color: var(--color-link-menu-nav-item-hover);
  }

  .footer-nav-item {
    margin-top: 0;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }